<%- include("partials/header"); -%>
<h1> Home </h1>
<p> <%=homeStarting%> </p>
<% posts.forEach(function(post){ %>
  <% console.log(post.title); %>
  <h1><%=post.title;%></h1>
  <p>
    <%=post.content.substring(0,100)+"...";%>
    <a href="/posts/<%=post.title%>">Read More</a></p>

  <%})%>
<%- include("partials/footer");-%>
